<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Course</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('.static',filename='css/memberinfo.css') }}"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="title">Add Course</div>
      <div class="content">
        <form id="add-course-form" method="POST">

          <div class="user-details">
            <div class="input-box">
              <span class="details">Date</span>
              <input name="cl_time" type="datetime-local" placeholder="" required />
            </div>
            <div class="input-box">
              <span class="details">Zoom Link</span>
              <input name="cl_zoom_link" type="text" placeholder="" required />
            </div>
          </div>

            <button type="submit" class="btn btn-primary">
              Submit
            </button>
        </form>
      </div>
    </div>

    <script src="{{url_for('.static', filename='js/addcourse.js')}}"></script>
  </body>
</html>
