<!DOCTYPE html>
<html>
<head>
	<title>Password Reset Page</title>
</head>
<body>
    {% block content %}
    {% include 'sidebar.html' %}
    {% endblock %}
    <img src="./static/img/logo.png" alt="Image description" style="position: absolute; top: 30px; right: 20px; width: 160px; height: 85px;">

    <style>
        div.password-reset { position: relative; top: 150px; left: 620px; font-size: 30px; font-weight: bold;}
      </style>
      
      <div class="password-reset">Password Reset</div>
  

    <div style="display: flex; flex-direction: column; align-items: center; margin-top: 180px;">
		
		<form id="password-reset-form" style="border: 5px solid #aa256e; padding: 45px; border-radius: 15px; width: 400px">

			<div style="display: flex; flex-direction: column;">
				<label for="new-password">New Password:</label>
				<input type="password" id="new-password" name="new-password" required pattern=".{8,}" style="width: 100%;">
                <span style="font-size: 12px; color: #999;">(minimum 8 characters in length)</span>
            </div>
            
			<br>
			<div style="display: flex; flex-direction: column;">
				<label for="confirm-new-password">Confirm New Password:</label>
				<input type="password" id="confirm-new-password" name="confirm-new-password" required pattern=".{8,}" style="width: 100%;">
                <span style="font-size: 12px; color: #999;">(minimum 8 characters in length)</span>
                <span id="password-match-message" style="font-size: 12px; color: red; display: none;">New password and confirm new password must match!</span>
			</div>
			<br>
            <div style="position: absolute; top: 48%; left: 50%; transform: translate(-50%, -50%);">
                <input type="submit" value="Reset" style="background-color: rgba(92, 208, 119, 0.774); color: rgb(3, 3, 3); font-size: 1em; border-radius: 10px;  position: absolute; top: 110px; right: -30px;">
              </div>
        </form>
        <div id="success-message" style="display: none; position: absolute; top: 10%; left: 50%; transform: translate(-50%, -50%); padding: 15px; border-radius: 5px; color: green; font-size: 24px;">
            Password reset successfully!
        </div>

	</div>
    <script>
        document.getElementById("password-reset-form").addEventListener("submit", function(event) {
            event.preventDefault();
            
            if (document.getElementById("new-password").value !== document.getElementById("confirm-new-password").value) {
                document.getElementById("password-match-message").style.display = "block";
            } else {
                document.getElementById("password-match-message").style.display = "none";
                document.getElementById("success-message").style.display = "block";
            }
        });
    </script>
</body>
</html>
