<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='css/transfer.css') }}">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<body>
    <!-- 
    <div class="container">
        <div class="row height d-flex justify-content-center align-items-center">
          <div class="col-md-8">
            <div class="search">
              <i class="fa fa-search"></i>
               <input type="text" id = "search1" class="form-control" placeholder="Enter Company name to transfer driver:"> 
               <button id = "submit" class="btn btn-primary">Search</button> 
               <div  id = "show-list" > </div>
            </div>
                 <div id = "record" class = "record"> </div>
           </div>
                 
         </div>
      </div>
-->
<div class="top-search-bar">
  <input type="hidden" id="driverid" value="{{ driverid }}">
    <div class="container">
      <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-8">
          <div class="search">
            <i class="fa fa-search"></i>
             <input type="text" id = "search1" class="form-control" placeholder="Enter Company name to transfer driver:"> 
             <button id = "submit" class="btn btn-primary">Transfer</button> 
             <div  id = "show-list" > </div>
          </div>
          <div id = "record" class = "record"> </div>
        </div>
      </div>
    </div>
  </div>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="{{url_for('.static', filename='js/transfer.js')}}"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>